/*
  1. General styles
  2. Header
  3. Section homepage
*/


/* 1. General styles */

:root {
  --ff-lily-script-one-400: 'Lily Script One', cursive;

  --clr-primary: #ffed47;

  --clr-white: #fff;
  --clr-black: #000;
}

html { scroll-behavior: smooth; }

body { font-family: var(--ff-lily-script-one-400); }

.container { position: relative; }

.title {
  font-size: 5rem; /* 80px */
  color: var(--clr-primary);
}

.title > strong { text-decoration: underline double var(--clr-primary) 2px; }

.btn {
  padding: .425em 1.325em;
  font-size: 2.375rem; /* 38px */
  color: var(--clr-white);
  background-color: var(--clr-black);
  border-radius: .8em;
  cursor: pointer;
  transition: all 250ms ease;
}

.btn:hover,
.btn:focus {
  color: var(--clr-black);
  box-shadow: inset 0 0 0 2em var(--clr-white);
}

/* 2. Header */

.header {
  position: fixed;
  width: 100%;
  height: 70px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: var(--clr-black);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-size: 2.25rem; /* 36px */
  color: var(--clr-primary);
  transition: opacity 250ms ease-in-out;
}

.nav__logo:hover { opacity: .5; }

.nav__logo > span { color: var(--clr-white) ; }

.nav__links { display: flex; }

.nav__links > * + * { margin-left: 38px; }

.nav__link {
  display: inline-block;
  height: 70px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 2.25rem; /* 36px */
  line-height: 70px;
  color: var(--clr-black);
  background-color: var(--clr-primary);
  transition: all 250ms ease-in-out;
}

.nav__link:hover {
  color: var(--clr-primary);
  background-color: var(--clr-black);
}

.nav__link--bgc-white { background-color: var(--clr-white); }

.nav__link--bgc-white:hover { color: var(--clr-white); }


/* 3. Section homepage */

.homepage {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-left: 40px;
  background: var(--clr-black) url(../images/background.jpg) center/cover no-repeat;
}

.homepage__content > .title { margin-bottom: 20px; }

.homepage__text {
  width: 10em;
  margin-bottom: 35px;
  font-size: 1.875rem; /* 30px */
  color: var(--clr-primary);
}
